@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.hide {
  display: none;
}

#brand-name,
.navbar-brand {
  font-family: "Righteous", cursive;
}

.navbar-brand {
  font-family: "Righteous", cursive;
}

.nav-link {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

/* Remove rounded edges */
.btn,
.card,
.navbar-toggler,
.jumbotron,
.form-control {
  border-radius: 0;
}

#hero-image {
  position: relative;  
}

#hero-image:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;  
  background-image: url("https://cdn.glitch.com/2eeeeaf5-3416-499d-86db-12d8f28d9341%2Fbackground.jpg?v=1619691642223");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#hero-content {
  position: relative;  
}
