@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.hide {
  display: none;
}

#brand-name,
.navbar-brand {
  font-family: "Righteous", cursive;
}

.navbar-brand {
  font-family: "Righteous", cursive;
}

.nav-link {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

/* Remove rounded edges */
.btn,
.card,
.navbar-toggler,
.jumbotron,
.form-control {
  border-radius: 0;
}
